div{
    background-color: aquamarine;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 15px;
}
header{
    text-align: center;
    background-color: brown;
    font-size: xx-large;
    padding-bottom: 20px;
}